h2
{
    font-family: sans-serif;
    margin-left: 25px;
    font-size: 30px;
}
form
{
    margin-left: 50px;
    border: 3px solid black;
    width: 500px;
    align-items: center;
    border-radius: 5px;
}
.form-item
{
    margin-left: 20px;
}
button
{
    margin-left: 375px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: white;
    color: Black;
    text-decoration: none;
    opacity: 80%;
}
label
{
    border: 2px solid black;
    border-radius: 10px;
    padding: 7px 15px;
    margin-right: 20px;
}
#isu
{
   padding: 7px 26px;
}

#group
{
    padding: 7px 14px;

}
input
{
    border-radius: 10px;
    height: 30px;
    background-color: white;
}
div
{
    color: black;
    font-size: 50px;
}
h2
{
    color: black;
}
